.w-10 {
  width: 10%;
}

.w-18 {
  width: 18px;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}
.w-80px {
  width: 80px;
}
.w-90px {
  width: 90px;
}

.w-100px {
  width: 100px;
}

.w-180px {
  width: 180px;
}

.w-300px {
  width: 300px;
}

.w-1320px {
  width: 1320px;
}

.h-18 {
  height: 18px;
}

.h-65 {
  height: 65px;
}
.h-80px {
  height: 80px;
}
.p-se {
  padding: 15px 20px;
}

.px-30 {
  padding: 0 30px;
}

.pe-10 {
  padding-right: 10px;
}

.pr-30 {
  padding-right: 30px;
}

.border-top {
  border-top: 2px solid #000;
}

.border-top-2 {
  border-top: 3px solid #222;
}
.border-top-3 {
  border-top: 2px solid rgb(229, 174, 73);
}
.border-bottom {
  border-bottom: 1px solid #efefef;
}

.border-left {
  border-left: 1px solid #efefef;
}

.transition-1 {
  transition: all 0.2s linear 0s;
}

.transition-2 {
  transition: all 0.5s ease-in-out;
}

.color-1 {
  color: rgb(34, 34, 34);
}

.color-2 {
  color: rgb(102, 102, 102);
}

.color-3 {
  color: #c2c2c2;
}
.color-4 {
  color: rgb(229, 174, 73);
}
.font-Montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-Ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.border-top {
  border-top: 3px solid black;
}

.top-85 {
  top: 85px;
}

.left-15 {
  left: 15px;
}

.transform-1 {
  transform: rotate(90deg);
}

.no-outline {
  outline: none;
}

.lh-20 {
  line-height: 20px;
}
.lh-24 {
  line-height: 24px;
}
.bg-1 {
  background-color: #e5ae49;
}
.rounded-20 {
  border-radius: 20px;
}
.mb-50 {
  margin-bottom: 50px;
}
/* Header */

header {
  position: absolute;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 45px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 0px;
}

header #logo {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
}

header .nav_container {
  display: none;
  width: 55%;
  height: 100%;
}

header .nav_container nav {
  width: 90%;
  line-height: 20px;
  color: #333;
}

header .nav_container nav div {
  width: 100%;
  height: 100%;
}

header .nav_container nav div .list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  transition: all 0.3s ease-in-out;
  padding: 0;
}

header .nav_container nav div .list .listItem1 {
  cursor: pointer;
  border-top: 2px solid #e5ae49;
  transition: all 0.2s linear 0s;
}

header .nav_container nav div .list .listItem1 .home_title {
  color: #e5ae49;
  width: 90px;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

header .nav_container nav div .list .listItem1 .home_content {
  display: none;
  padding: 0;
  border-top: 3px solid black;
  position: absolute;
  top: 85px;
  left: 15px;
  width: 1320px;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}
/* from style tag */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*  */

.list_item:hover .image {
  display: block !important;
}

/* Tabs */

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tabs label {
  border-radius: 25px;
  order: 1;
  display: block;
  padding: 10px 30px;
  text-align: center;
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  font-family: Montserrat, sans-serif;
  line-height: 18.5714px;
  font-weight: 400;
  font-size: 13px;
  color: #666;
  margin-bottom: 35px;
}

.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
}

.tab_content:hover {
  opacity: 1;
}

.tab_content:hover img {
  scale: 1.1;
}

.tab_content_overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.tab_content_overlay:hover a,
.tab_content_overlay:hover span {
  display: inline-block !important;
}

.tab_content:hover .tab_content_overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked + label {
  background: #e5ae49;
  color: #fff;
}

.tabs input[type="radio"]:checked + label + .tab {
  display: flex;
}

@media (max-width: 45em) {
  .tabs .tab {
    margin-top: 35px !important;
  }

  .tabs label {
    margin-bottom: 0 !important;
  }
}

.more_button:hover a {
  background-color: #e5ae49;
  color: #fff !important;
  border-color: #e5ae49 !important;
}

/* Helvetica Neue font */

@font-face {
  font-family: "Helvetica Neue";
  src: url("fonts/HelveticaNeue/HelveticaNeueMedium.otf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Swiper */

.swiper {
  width: 100%;
  padding: 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.swiper-slide {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 230px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(239, 239, 239);
  transition: all 0.3s ease;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px;
  font-weight: 700;
  color: #999;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #e5ae49;
  border-color: #e5ae49;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: #fff;
}

/*  */

.listItem1:hover,
.listItem2:hover,
.listItem3:hover,
.listItem4:hover,
.listItem5:hover,
.listItem6:hover {
  background-color: #f9f9f9;
}

.listItem1:hover .home_content,
.listItem2:hover .company_content,
.listItem3:hover .blogs_content,
.listItem4:hover .projects_content,
.listItem5:hover .shop_content,
.listItem6:hover .page_content {
  display: flex !important;
}

/* Burger menu */

.burger_menu {
  cursor: pointer;
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
}

.burger {
  width: 40px;
  cursor: pointer;
}

.burger span {
  background-color: rgb(221, 221, 221);
  border-radius: 4px;
  display: block;
  font-size: 14px;
  transition: background-color 0.5s ease-in-out;
}

.burger span::before,
.burger span::after {
  content: "";
  width: 100%;
  background-color: rgb(221, 221, 221);
  display: block;
  transition: all 0.5s ease-in-out;
  border-radius: 4px;
  height: 4px;
}

.burger span::before {
  transform: translateY(-10px);
}

.burger span::after {
  transform: translateY(10px);
  margin-top: -4px;
}

.burger.active span {
  background-color: transparent;
}

.burger.active span::before {
  transform: rotateZ(45deg) translateY(0);
}

.burger.active span::after {
  transform: rotateZ(-45deg) translateY(0);
}

.sub_menu:hover {
  cursor: pointer;
  background-color: #eee;
}

.sub_menu_2:hover {
  cursor: pointer;
}

.sub_menu_2:hover a {
  color: #e5ae49 !important;
}

/* Media queries */

@media (min-width: 976px) {
  .burger_menu {
    cursor: pointer;
    display: none !important;
  }

  .nav_container {
    display: flex !important;
  }

  header {
    position: fixed !important;
  }

  .swiper_container_2 {
    height: 170px !important;
  }

  .list_item a {
    width: 190px !important;
  }

  .swiper_container_2 .swiper-slide i {
    font-size: 25px !important;
  }

  .swiper_container_2 {
    padding: 0 100px;
  }

  .contact_us {
    padding: 0 340px !important;
  }

  .recent_news {
    padding: 0 320px !important;
  }
}

/* Accordion */

li.c {
  position: relative;
  border-bottom: 1px solid rgb(237, 237, 237);
}

li.c input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: 0;
}

li.c label {
  color: rgb(34, 34, 34);
  position: relative;
  padding: 8px 15px;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
}

li.c label::after {
  content: "";
  display: inline-block;
  border: 5px solid transparent;
  border-top: 5px solid #000;
  position: absolute;
  top: 50%;
  right: 15px;
}

ul.p {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

ul.p li {
  width: 100%;
  margin: 0;
}

ul.p a {
  color: rgb(102, 102, 102);
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  display: inline-block;
  width: 100%;
  display: inline-block;
  padding: 8px 15px;
}

input:checked ~ li.c label::before {
  border-left: 15px solid transparent;
  border-top: 20px solid white;
}

input:checked ~ ul.p {
  max-height: 100%;
}

/* Swiper 2 */

.swiper_container_2 .swiper {
  width: 100%;
  height: 100%;
  padding: 0;
}

.swiper_container_2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper_container_2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer responsive */

@media (max-width: 976px) {
  footer {
    height: auto !important;
  }

  .footer_top {
    flex-direction: column !important;
    height: auto !important;
  }

  .footer_bottom {
    flex-direction: column !important;
    height: auto !important;
  }

  .width_full {
    width: 100% !important;
  }

  .recent_post li {
    justify-content: flex-start !important;
  }

  .newsletter {
    width: 262.5px;
  }

  .contact_infos {
    flex-direction: column;
    justify-content: center;
  }

  .recent_news_bottom {
    flex-direction: column;
    align-items: center !important;
  }

  .recent_news_card {
    width: 100% !important;
    padding: 0 25px !important;
  }

  .recent_news_card img {
    width: 100% !important;
    object-fit: cover !important;
  }

  .why_choose_us_container {
    flex-direction: column !important;
  }

  .why_choose_us_content {
    padding: 0 !important;
  }

  .why_choose_us_container_top {
    width: 100% !important;
  }

  .top_2 {
    display: block !important;
    padding-right: 20px !important;
  }

  .why_choose_us_container_bottom {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
  }

  .why_choose_us_container_bottom img {
    width: 72% !important;
  }

  .tab_content_1,
  .tab_content_2,
  .tab_content_4,
  .tab_content_5,
  .tab_content_6,
  .tab_content_7 {
    width: 50% !important;
    height: 380px !important;
  }

  .tab_content_3 {
    width: 100% !important;
    height: 380px !important;
  }

  .tab {
    height: auto !important;
  }

  #carouselExampleCaptions {
    height: 57vh !important;
  }

  .carousel-inner h5 {
    font-size: 19px !important;
    line-height: 30px !important;
  }

  .carousel-inner p {
    font-size: 24px !important;
    line-height: 30px !important;
  }

  .carousel-caption h5 {
    font-size: 14px !important;
  }

  .carousel-caption p {
    font-size: 16px !important;
  }

  .middle_line {
    display: none !important;
  }

  .contact_us {
    padding: 0 9% !important;
    font-size: 14px !important;
  }

  .contact_info {
    height: 30vh !important;
  }
}

/* Recent News */

.animate__animated.animate__fadeInUp {
  --animate-duration: 2s;
}

/* Carousel */

.animate__animated.animate__fadeInDown {
  --animate-duration: 3s;
  --animate-delay: 1s;
}

/* Carousel */

.animate__animated.animate__fadeInLeft,
.animate__animated.animate__fadeInRight {
  --animate-duration: 2s;
}

.animate__animated.animate__fadeIn {
  --animate-delay: 1s;
  --animate-duration: 5s;
}
